<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Symphony xLNX Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="js/dashboard.js"></script>
</body>
</html>
